.decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;

  &__line {
    width: 60px;
    height: 1px;
    background-color: #000;
  }

  &__img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}