@use 'variables.scss' as *;

.menu {
  position: relative;
  min-width: 355px;

  &__logo {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }

  &__nav {
    position: absolute;
    left: 31px;
    bottom: 0;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 40px;
  }

  &__link {
    font-size: 12px;
    color: $white;
    text-decoration: none;

    &_black {
      color: $black;
    }
  }
}